html {
    padding: 20px 20px 20px 20px;
    font-family: Work Sans, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: grey;
}

h1 {
    font-weight: inherit;
}

body {
    line-height: 1.8;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: grey;
    padding: 0px 0px 10px 10px;
}

.topnav {
    float: right;
}

.div-header{
    width: 600px;
}

.highlight {
    color: #CC9933;
}

.menuitem:hover {
    color: #CC9933;
}

.menuitem-active {
    font-weight: bold;
}

.float {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}

.float:hover {
    cursor: pointer;
    top: -2px;
}
