html {
    font-family: Work Sans, Helvetica, Arial, sans-serif;
    color: grey;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: grey;
    padding: 0px 0px 10px 10px;
}

.topnav {
    float: right;
    padding-right: 20px;
}

.div-header{
    width: 600px;
}

.highlight {
    color: #CC9933;
}

.active {
    font-weight: bold;
}

#icon {
    position: relative;
    top: 0;
    transition: top ease 0.2s;
}

#icon:hover {
    cursor: pointer;
    top: -2px;
}
